:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

#text {
  display: flex;
}

#name {
  text-decoration: underline;
  padding: 0 1.3rem 0 1.3rem;
}

#not {
  color: #ff1024
}

#toggle-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  #toggle-text {
    font-size: 1rem;
    text-align: center;
  }

  #toggle {
    margin: 1rem;
  }
}
