<div
  class="text-[13vw] font-[Ranchers] -rotate-[13deg] bg-[url(/assets/icons/lightbulb.svg)] bg-no-repeat bg-left p-[0.08em] pt-[0.8em] pl-[1em] pr-px bg-contain"
>
  Bulby
</div>

<div class="h-full justify-evenly flex flex-col">
  <form
    [formGroup]="joinForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-12"
  >
    <div class="flex flex-col gap-4">
      <p-floatlabel variant="in" class="self-center">
        <input
          pInputText
          id="in_label"
          autocomplete="off"
          formControlName="roomCode"
        />
        <label for="in_label">Room code</label>
      </p-floatlabel>

      <p-floatlabel variant="in" class="self-center">
        <input
          pInputText
          id="in_label"
          formControlName="name"
          autocomplete="off"
        />
        <label for="in_label">Your name</label>
      </p-floatlabel>

      <label class="self-center">Select your icon</label>
      <div
        class="grid grid-cols-5 auto-cols-min gap-1 justify-items-center justify-center"
      >
        @for(icon of iconMap; track icon[0]) {
        <p-button
          id="{{ icon[0] }}"
          type="button"
          label="{{ icon[1] }}"
          variant="text"
          [raised]="true"
          class="text-2xl"
          (click)="setIconId(icon[0])"
          [class.selected]="joinForm.controls.iconId.value === icon[0]"
        />
        }
      </div>
    </div>
    <p-button
      label="Join room"
      type="submit"
      [disabled]="!joinForm.valid"
      class="self-center"
    />
  </form>
</div>
