<div
  class="font-[Afacad] h-full grid grid-cols-[repeat(14,_1fr_[col-start])] grid-rows-[repeat(14,_1fr_[col-start])] text-white"
>
  <img
    class="col-span-5 row-span-5 col-start-2 row-start-3 object-contain drop-shadow-[-1em_1em_#4b4eaf] animate-wiggle"
    src="/assets/images/bulby_logo.png"
  />

  @if (roomCode()) {
    <div
      class="flex justify-center items-center col-start-9 col-span-4 row-start-3 rounded-full bg-white text-center text-[2vw]"
    >
      <div class="text-gray-500 font-semibold">Join at&nbsp;</div>
      <div
        class="underline bg-gradient-to-br from-cyan-400 to-fuchsia-600 bg-clip-text text-violet-500/50 font-bold"
      >
        bulby.app
      </div>
    </div>
    <div
      class="col-start-9 col-span-4 row-start-5 text-[2vw] text-center font-semibold"
    >
      Room code
    </div>
    <div
      class="col-start-9 col-span-4 row-start-6 row-span-4 bg-white rounded-xl shadow-[5vw] flex justify-center items-center"
    >
      <div
        class="text-[8vw] font-[Ranchers] tracking-wider font-bold inset-shadow-sm bg-gradient-to-br from-cyan-400 to-fuchsia-600 bg-clip-text text-violet-300/20"
      >
        {{ roomCode() }}
      </div>
    </div>
    <div
      class="flex flex-col col-span-12 col-start-2 row-start-11 row-span-2 gap-6 self-start justify-self-center"
    >
      @if (players().length > 0) {
        <div class="text-[2vw] text-center font-semibold">
          {{ players().length }} players
        </div>
      }
      <div class="flex gap-6">
        @for (player of players(); track player.id) {
          <div
            role="listitem"
            class="text-[2vw] text-violet-700 bg-white p-2 px-4 rounded-xl shadow-[0.3em_0.3em_#4b4eaf]"
          >@if(player.id === hostPlayerId()){
            <span>👑</span>
          }
            {{ iconMap.get(player.iconId) }} {{ player.name }}
          </div>
        } @empty {
          <div id="no-player">It's quiet here...</div>
        }
      </div>
    </div>
  } @else {
    <span>...</span>
  }
</div>
