:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 72% 29%;
  border-top-right-radius: 28% 65%;
  border-bottom-right-radius: 64% 35%;
  border-bottom-left-radius: 36% 71%;
  padding: 8rem;
}

#code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  #code {
    font-size: 8rem;
    margin-top: -1rem;
  }
}

#player-container {
  .player {
    font-size: 1.4rem;
    padding: 0.2rem;
  }

  .ready {
    // background-color: green;
  }

  .not-ready {
    // background-color: red;
  }

  #no-player {
    padding: 1rem;
  }
}
