:host {
  display: flex;
  padding: 0 8rem 0 8rem;
}

#players-container {
  font-size: 2rem;
  width: 32rem;
  padding: 0 2rem 0 2rem;

  #name {
    text-decoration: underline;
  }

  #score {
    font-size: 4rem;
  }
  .increment {
    animation: increment 300ms;
  }

  @keyframes increment {
    33% {
      color: green;
      transform: scale(1.3, 1.2);
    }
    66% {
      color: green;
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}

#question-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .answer {
    width: 5rem;
    padding: 1rem;
    text-align: center;
    border: white 2px solid;
    margin-top: 1rem;
  }
}
