<div id="players-container">
  @for (player of players(); track player) {
  <div id="name">{{ player.name }}</div>
  <div id="score">{{ player.score }}</div>
  }
</div>
@if(secondsRemaining() >= 1) {
<h2>{{ secondsRemaining() }}</h2>
} @else {
<div id="question-container">
  <h1>{{ currentQuestion().question }}</h1>
  @for(answer of currentQuestion().answerOptions; track answer){
  <span class="answer" [ngStyle]="{'background-color': answer.id === currentCorrectAnswerId() ? 'green' : ''}" >{{ answer.text }}</span>
  }
</div>
}
