@use "@angular/material" as mat;
@use "@styles/theme.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      density: 0,
    )
  );
}
