@use '@angular/material' as mat;

html {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$cyan-palette,
    typography: monospace,
    density: 0
  ));
}

body {
  margin: unset;
  padding-top: 10rem;
  font-family: monospace;
}
